{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<style>

.GenInfo {
  display: block;
  background-color: #4a7a58; 
  border: 2px solid;
  border-radius: 0.6em;
  border-color: black;
  border-width: 1px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

tr:nth-child(odd) {
    background-color: #aac4b2;
}
.os_table {
    font-family: arial, sans-serif;
    display: block;
}
.hardware_table {
    font-family: arial, sans-serif;
    display: block;
}
.proc_table {
    font-family: arial, sans-serif;
    display: block;
}

td{
    padding-right: 10px;
    padding-left: 30px
}
.vertical-menu {
    width: 200px;
    height: 400px;
    overflow-y: auto;
    margin-top: 60px;
    float: left;
}
.vertical-menu a {
    background-color: #B2BEB5;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

</style>
</head>
<body style="width: 100%; height: 100%; position: relative; overflow-y: auto;">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" style="margin-top: 10px; background: #05816b;">
				<div class="container-fluid text-center">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li style="width: 20%;"><a href="/home">Home</a></li>
						<li style="width: 20%;"><a href="/home/messages">Messages</a></li>
						<li style="width: 20%;"><a href="/home/notifications">Notifications</a></li>
						<li class="active" style="width: 20%;"><a href="#">System Status</a></li>
						<li style="width: 20%;"><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>		
	</div>	
  <div class="row" style="margin: 0;">
    <div class="col-md-3" style="padding-left: 0;">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{specmachine.mac_address}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu" ID="dropDownOptions">
          	{% for machine in machines %}
            <li><a href="/home/systemstats/{{machine.id}}/geninfo">{{machine.mac_address}}</a></li>
              {% endfor %}
          </ul>
      </div>
      <div class="vertical-menu">
        <a href="/home/systemstats/{{machine_id}}/geninfo" class="active">General Information</a>
        <a href="/home/systemstats/{{machine_id}}/softwares">Softwares Installed</a>
        <a href="/home/systemstats/{{machine_id}}/logs">Logs</a>
      </div>
    </div>
    <div class="col-md-9 GenInfo">
        <div class="col-md-6">
          <h4 style="padding:0 0 10px 0;"><b>OS Information:</b></h4>
          <table class="os_table">
            <tr>
              <td>IP Address</td>
              <td>{{specmachine.ip_address}}</td>
            </tr>
            <tr>
              <td>MAC Address</td>
              <td>{{specmachine.mac_address}}</td>
            </tr>
            <tr>
              <td>Available RAM</td>
              <td>{{specmachine.ram_available_memory}}</td>
            </tr> 
            <tr>
              <td>Total RAM</td>
              <td>{{specmachine.ram_total_memory}}</td>
            </tr>
            <tr>
              <td>Available Disk Space</td>
              <td>{{specmachine.disk_available}}</td>
            </tr>
            <tr>
              <td>Used Disk Space</td>
              <td>{{specmachine.disk_used}}</td>
            </tr>
            <tr>
              <td>Total Disk Space</td>
              <td>{{specmachine.disk_size}}</td>
            </tr>
          </table>
          <h4 style="padding:15px 0 10px 0;"><b>Hardware Information:</b></h4>
          <table class="hardware_table">
            <tr>
              <td>Hardware Platform</td>
              <td>{{specmachine.hardware_platform}}</td>
            </tr>
            <tr>
              <td>Kernel Release</td>
              <td>{{specmachine.kernel_release}}</td>
            </tr>
            <tr>
              <td>Operating System</td>
              <td>{{specmachine.operating_system}}</td>
            </tr>
            <tr>
              <td>Hardware of Machine</td>
              <td>{{specmachine.machine_hardware}}</td>
            </tr>
            <tr>
              <td>Hostname of Node</td>
              <td>{{specmachine.node_hostname}}</td>
            </tr>
            <tr>
              <td>Processor</td>
              <td>{{specmachine.processor}}</td>
            </tr>
            <tr>
              <td>Name of the Kernel</td>
              <td>{{specmachine.kernel_name}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <h4 style="padding:0 0 10px 0;"><b>Processor Information:</b></h4>
          <table class="proc_table">
            <tr>
              <td>Number of Processors</td>
              <td>{{specmachine.no_of_processors}}</td>
            </tr>
            <tr>
              <td>Speed of CPU</td>
              <td>{{specmachine.cpu_speed}}</td>
            </tr>
            <tr>
              <td>Number of Cores per Processor</td>
              <td>{{specmachine.cores_per_processor}}</td>
            </tr>
            <tr>
              <td>CPU Model</td>
              <td>{{specmachine.cpu_model_name}}</td>
            </tr>
            <tr>
              <td>Vendor ID</td>
              <td>{{specmachine.vendor_id}}</td>
            </tr>
            <tr>
              <td>Cache Size</td>
              <td>{{specmachine.cache_size}}</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>
</body>
</html>