{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" style="margin-top: 10px; background: #05816b;">
				<div class="container-fluid text-center">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li id="home" class="active" style="width: 20%;"><a href="#">Home</a></li>
						<li id="message" style="width: 20%;"><a href="{% url 'home:messages' %}">Messages</a></li>
						<li id="notification" style="width: 20%;"><a href="{% url 'home:notifications' %}">Notifications</a></li>
						<li id="status" style="width: 20%;"><a href="{% url 'home:systemstats' %}">System Status</a></li>
						<li style="width: 20%;"><a href="{% url 'home:logout' %}">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>		
	</div>
	<div class="row" style="margin:0">
	<div class="col-md-12 no-pad" style="display: flex;">
		<div style="flex: 1; margin: 2px;">
			<div style="background-color: white; padding: 0 15px; height: 81vh; overflow-y: auto;">
				<div>
					<h3 class="text-center">Superuser</h3><hr>
					<div>
						Name: {{superuser.name}}<br>
						Email: {{superuser.email}}<br>
						Mobile: {{superuser.mobile}}
					</div>
				</div>
				<div>
					<hr>
					<h3 class="text-center">Administrators</h3>
					{% for user in users %}
					<div style="margin-bottom: 10px;">
						<hr>
						Name: {{user.name}}<br>
						Email: {{user.email}}<br>
						Mobile: {{user.mobile}}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="flex: 1; margin: 2px;">
			<div style="background-color: white; padding: 15px; margin-bottom: 17px;">
				Total Machines: <b>{{machines}}</b><br>
				Machines active: <b>{{actMachines}}</b>
			</div>
			<div>
				<img src="{% static 'home/img/CINManupd.png' %}" style="max-width: 100%; max-height: 100%;">
			</div>
			<div style="background-color: white; padding: 15px; margin-top: 17px;">
				Total Users: <b>{{usercount}}</b><br>
				Users active: <b>{{actUsers}}</b>
			</div>
		</div>
	    <div style="flex: 2; margin: 2px;">
		    <div  style="background-color: white; padding: 15px; overflow-y: auto; height: 81vh;">
		    	<div>
		    		<h3 class="text-center">Systems</h3>
		    		<button id="refresh" style="float: right; transform: translateY(-40px);" class="btn btn-primary">Refresh</button>
		    	</div>
		    	<div style="clear: both;">
		    	{% for x in ips %}
		    		{% if x.active == 0 %}
		    			<span class="active-ip" id="{{x.ip}}">{{x.ip}}</span>
		    		{% else %}
		    			<span class="inactive-ip" id="{{x.ip}}">{{x.ip}}</span>
		    		{% endif %}
		    	{% endfor %}
				</div>
		    </div>
	    </div>
	</div>
</div>
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
</body>
</html>