<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" style="margin-top: 10px; background: #05816b;">
				<div class="container-fluid text-center">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li class="active" style="width: 20%;"><a href="#">Home</a></li>
						<li style="width: 20%;"><a href="#">Messages</a></li>
						<li style="width: 20%;"><a href="#">Notifications</a></li>
						<li style="width: 20%;"><a href="#">System Status</a></li>
						<li style="width: 20%;"><a href="#">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>		
	</div>
</div>
</body>
</html>