{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center login">
			<h1 class="header">Login</h1>
		    <form method="post" action="validateUser/">
		    	{% csrf_token %}
		    	<div>
		    		<input type="text" name="uname" placeholder="Username" required="required" />
		    	</div>
		    	<div>
		        	<input type="password" name="pwd" placeholder="Password" required="required" />
		        </div>
		        {% if failed_login %}
		        <div class="text-center" style="color: red; padding-bottom: 5px;">
		        	Incorrect Password.
		        </div>
		        {% endif %}
		        <div>
		        	<button id="login-btn" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
		    	</div>
		    </form>
		    <div class="color-red pad-top">
	    		<a href="{% url 'home:forgot' %}"> Forgot Password </a>
	    	</div>
	    	<div class="pad-top">
	    		<span class="color-white">Not registered yet?</span>
	    		<a href="{% url 'home:register' %}" class="pad-left color-blue">Register</a>
	    	</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
</body>
</html>
