{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
  
<style>
.vertical-menu2 {
    width: 600px;
    height: 400px;
    overflow-y: auto;
    margin-left: 150px;
    margin-top: 30px;
}
.vertical-menu2 a {
    background-color: #B2BEB5;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu2 a:hover {
    background-color: #ccc;
}

.vertical-menu2 a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" style="margin-top: 10px; background: #05816b;">
				<div class="container-fluid text-center">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li style="width: 20%;"><a href="/home">Home</a></li>
						<li style="width: 20%;"><a href="/home/messages">Messages</a></li>
						<li class="active" style="width: 20%;"><a href="#">Notifications</a></li>
						<li style="width: 20%;"><a href="/home/systemstats">System Status</a></li>
						<li style="width: 20%;"><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="vertical-menu2">
				{% for n in ram_ip %}
					<a href="#">{{n}} exceeded 10% of the Total RAM.</a>
				{% endfor %}
				{% for n in disk_ip %}
					<a href="#">{{n}} exceeded 10% of the Total Disk Space.</a>
				{% endfor %}
				{% for key, value in double_login %}
					<a href="#">{{key}} attempted Double Login at {{value}}.</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>
</html>