{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" style="margin-top: 10px; background: #05816b;">
				<div class="container-fluid text-center">
					<ul class="nav navbar-nav" style="width: 100%;">
						<li style="width: 20%;"><a href="/home">Home</a></li>
						<li style="width: 20%;"><a href="/home/messages">Messages</a></li>
						<li style="width: 20%;"><a href="/home/notifications">Notifications</a></li>
						<li class="active" style="width: 20%;"><a href="#">System Status</a></li>
						<li style="width: 20%;"><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>		
	</div>	
</div>
<div class="dropdown" style="margin-left:  100px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="selectedOption">Select IP Address</span> 
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    	{% for machine in machines %}
      <li><a href="/home/systemstats/{{machine.id}}/geninfo">{{machine.ip_address}}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>