{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center login">
			<h1 class="header">Login</h1>
		    <form method="post">
		    	<div>
		    		<input type="text" name="u" placeholder="Email" required="required" />
		    	</div>
		    	<div>
		        	<input type="password" name="p" placeholder="Password" required="required" />
		        </div>
		        <div>
		        	<button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
		    	</div>
		    </form>
		    <div class="color-red pointer pad-top">
	    		Forgot Password
	    	</div>
	    	<div class="pad-top">
	    		<span class="color-white">Not registered yet?</span>
	    		<a href="{% url 'login:register' %}" class="pointer pad-left color-blue">Register</a>
	    	</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
</body>
</html>